.spin {
    width: 158px;
    height: 158px;
    position: absolute;
    top: 0;
    right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../image/bgspin-normal.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    
    &:hover {
        background-image: url(../image/bgspin-hover.png);
    }
    &:active {
        background-image: url(../image/bgspin-click.png);
    }
    &.disabled {
        pointer-events: none;
        background-image: url(../image/bgspin-disable.png);
    }
    &.stop .sign{
        width: 80px;
        animation-name: none; 
        background-image: url(../image/stopsign-normal.png);
    }
    &.stop.disabled .sign{
        background-image: url(../image/stopsign-disable.png);
    }
}

.sign {
    width: 100px;
    height: 80px;
    background-image: url(../image/spinsign-normal.png);
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: rotate; 
    animation-duration: 7s; 
    animation-iteration-count: infinite; 
    animation-timing-function: linear;
}

@keyframes rotate { 
    0% { 
      transform: rotateZ(360deg); 
    } 
    10% { 
      transform: rotateZ(0deg); 
    } 
    100% { 
        transform: rotateZ(0deg); 
    }
} 