@import "reset";
@import "spin";
@import "autospin";
@import "turbo";

@font-face {
    font-family: "MyriadPro";
    src: local(Arial);
    src: url("../fonts/MyriadPro.otf") format("opentype");
}
body {
    font-family: "MyriadPro", sans-serif;
}


.btn-info {
    width: 55px;
    height: 55px;
    position: relative;       
    background-image: url(../image/btn-info-normal.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
        background-image: url(../image/btn-info-hover.png);
    }

    &:after {
        content: " ";
        width: 9px;
        height: 28px;
        position: absolute;
        top: 13px;
        left: 22px;
        background-image: url(../image/info-sign.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.total-bet {
    width: 183px;
    height: 55px;
    margin-right: 2px; 
    padding: 0 3px 0 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    background-image: url(../image/totalbet.png);
    background-size: contain;
    background-repeat: no-repeat;      
}

.coinsign {
    width: 66px;
    height: 12px;
    background-image: url(../image/totalbetsign.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.coincounter {
    height: 15px;
    text-align: center;
    color: #FFE500;
}

.btn-minus, .btn-plus {
    width: 45px;
    height: 45px;  
    position: relative;     
    background-image: url(../image/btn-minus-normal.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    &.disabled {
        pointer-events: none;
        background-image: url(../image/btn-minus-disable.png);
    }
    &:hover {
        background-image: url(../image/btn-minus-hover.png);
    }
    &:active {
        background-image: url(../image/btn-minus-click.png);
    }
}

.btn-minus {
    &.disabled {
        &:after {
            background-image: url(../image/minussign-disable.png);
        }
    }
    &:after {
        content: " ";
        width: 19px;
        height: 8px;
        position: absolute;
        top: 19px;
        left: 13px;
        background-image: url(../image/minussign-normal.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.btn-plus {
    &.disabled {
        &:after {
            background-image: url(../image/plussign-disable.png);
        }
    }
    &:after {
        content: " ";
        width: 19px;
        height: 16px;
        position: absolute;
        top: 15px;
        left: 15px;
        background-image: url(../image/plussign-normal.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
}


.wrapper {
    width: 1200px;
    margin: 100px auto 0;
    padding: 20px 0 32px 0;
    position: relative;
    display: flex;
    .bottom-panel {
        width: 1200px;
        margin: 0 auto;
        padding: 13px 59px 0 59px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        align-items: center;
        background-image: url(../image/main.png);
        background-position: center;
        background-repeat: no-repeat;
        .coin {
            width: 95px;
            height: 50px;
            padding: 9px 0 13px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            letter-spacing: 2px;
            font-weight: bold;
            box-sizing: border-box;
            background-image: url(../image/coin.png);
            background-size: contain;
            background-repeat: no-repeat;
            .coinsign {
                width: 30px;
                height: 50%;
                background-image: url(../image/coinsign.png);
                background-size: contain;
                background-repeat: no-repeat;
            }
            .coincounter {
                height: 50%;
                color: #FFE500;
            }
        }
        .winbox {
            width: 398px;
            height: 93px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 50px;
            letter-spacing: 2px;
            font-weight: bold;
            color: #FFE500;
            background-image: url(../image/winbox.png);
            background-size: contain;
            background-repeat: no-repeat;
        }       
    }
}
